*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    font-family: Roboto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    margin-top: 96px;
}

.logo_container {
}

.logo {
}

.menu {
}

.main_menu {
    display: flex;
    justify-content: space-between;

}

.menu_element_container {
    margin: 0 32px 0 32px;
    list-style: none;
}

.menu_element {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    list-style: none;
    height: 20px;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s linear;
}

.menu_element:hover {
    color: #8247FF;
}

.menu_button {
    width: 112px;
    height: 44px;
    border-radius: 5px;
    background-color: #8247FF;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-size: 17px;
    padding: 10px;
    border: none;
    transition: color, background-color 0.2s linear;
    cursor: pointer;
}

.menu_button:hover {
    color: #8247FF;
    background-color: #FFFFFF;
}

.main_body {
    margin-top: 110px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    font-size: 97px;
    font-weight: 400;
    line-height: 92.12px;
    text-align: center;
}

.images_container {

    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: 226px auto 0;
}

.images_container img {
    position: absolute;
    object-fit: contain;
    transition: 0.3s ease;
}

.line_image {
    left: 3%;
    top: 41%;
    transform: translateY(-50%);
    z-index: 2;
}

.background_image {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.9;
}

.main_image {
    top: 41%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.color_image {
    right: 2.5%;
    top: 41%;
    transform: translateY(-50%);
    z-index: 2;
}

.footer {
    display: flex;
    text-align: center;
    padding: 20px 0;
    justify-content: space-between;
    width: 100%;

}

.text {
    font-size: 11px;
    font-family: Roboto;
    line-height: 20px;
    color: #969696;
    text-decoration: none;
}

.support_container {
    width: 1060px;
    margin-top: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.support_title{
    display: flex;
    align-items: center;
    max-width: 500px;

    padding-left: 135px;
}

.support_round {
    width: 18px;
    height: 18px;
    border-radius: 200px;
    background-color: #000000;
}

.support_text {
    width: 400px;
    font-size: 24px;
    line-height: 36px;
    padding-left: 10px;
}

.support_main_text{
    margin-top: 53px;
    font-size: 53px;
    line-height: 69.16px;
    text-align: center;
}

.support_button{
    background-color: #8247FF;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    padding: 30px 50px 30px 40px;
    border-radius: 50px;
    position: relative;
    border: none;
    cursor: pointer;
    margin: 53px +11% 0 0;
    transition: color, background-color 0.2s linear;
}

.support_button:hover {
    background-color: #FFFFFF;
    color: #8247FF;

}

.support_button:hover .support_image{
    content: url("../img/photoshop_images/support_section/arrow-hover.png")
}

.support_image{
    position: absolute;
    width: 19px;
    height: 12px;
    top: 35px;
    right: 25px;
    transition: opacity 0.2s linear;
}

.support_image:hover{

}